@import "tailwindcss";

@theme {
  --color-theme-blue: #343990;
  --color-theme-yellow: #EDCB54;
  --color-theme-red: #DD1C1A;
  --color-off-white: #F5F5F5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
